@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

@font-face {
  font-family: 'Verdana';
  font-style: normal;
  font-weight: 400;
  src: url("Verdana.ttf");
}


:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --main-color: #4b7637;
  --bg-main: #4b7637;
  --bs-list-group-active-bg: #4b7637 !important;
}

.bg-main {
  background-color: var(--bg-main);
}
a {
  text-decoration: none;
}


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap');


.bg-div {
  background-image: url('../assets/section-bg.jpg');
  background-size: cover;
  height: 300px;
}


p,
li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

li:not(footer li) {
  color: #696969
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  color: #4b7637;
  text-transform: uppercase;
}

.btn:not(.footer-top .btn, .outline) {
  background-color: #4b7637;
  color: #fff;
  border: none;
}

.btn:not(.footer-top .btn) {
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0 20px 0 20px;
  box-shadow: none !important;
}

.btn:active {
  background-color: #4b7637a4 !important;
}

.btn:active {
  background-color: #4b7637a4 !important;
}

.btn.outline {
  background-color: transparent;
  border: 2px solid #4b7637;
  color: #4b7637;
}

.btn.outline:hover {
  background-color: #4b763775;
}

.btn:active:not(.outline) {
  background-color: #4b7637a4 !important;

}
.btnYellow {
  background-color: #f05122 !important;
  color: #fccd07 !important
}

.btnYellow:hover {
  background-color: #eb3c3c !important;
}

.btn:not(.footer-top button):hover {
  background-color: #105950;
}

.toast i {
  font-size: 25px;
}
